<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel = "stylesheet" href="login.css">
</head>
<body>
  <div class="container">
    <div class="user">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" class="uname" required>
    </div>
    <div class="pw">
      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" class="psw" required>
    </div>
    <div>
      <a href="Seminarraumverwaltung.html"><button class="loginButton" type="button">Login</button></a>
    </div>
  </div>
</body>
</html>