<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="Seminarraumverwaltung.css">
    <title>Seminarraumverwaltung</title>
    <div class="menüleiste">
        <a href="Seminarraumverwaltung.html"class="homeButton">Home</a>
        <div class="dropdown">
            <button class="dropbtn">User</button>
            <div class="dropdown-content">
                <a href="Übersicht.html">Übersicht</a>
                <a>Logout</a>
            </div>
        </div>
    </div>
</head>
<body>
    <div class="homeSite">
        <div class="searchAndPic">
            <div class="search">
                <h1>Suche</h1>

                <label for="buildingletter">Gebäude</label>
                <input type="text" name="buildingletter" class="buildingletter" required>

                <label for="room">Raumnummer</label>
                <input type="text" name="room" class="room" required>

                <label for="seats">Anzahl Sitzplätze</label>
                <input type="text" name="seats" class="seats" required>

                <label for="whatkindofroom">Art des Raums</label>
                <input type="text" name="whatkindofroom" class="whatkindofroom">

                <button type="submit" class="searchButton">suchen</button>

            </div>
            <div class="building">
                <img src="images/hso_von_oben.jpg" alt="HSO von oben">
                <button class="buildingA">A</button>
                <button class="buildingB">B</button>
                <button class="buildingC">C</button>
                <button class="buildingD">D</button>
                <button class="buildingE">E</button>
            </div>
        </div>
    </div>
</body>
</html>