<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href="Übersicht.css">
    <title>Übersicht</title>
    <div class="menüleiste">
        <a href="Seminarraumverwaltung.html"class="homeButton">Home</a>
        <div class="dropdown">
            <button class="dropbtn">User</button>
            <div class="dropdown-content">
                <a href="Übersicht.html">Übersicht</a>
                <a>Logout</a>
            </div>
        </div>
    </div>
</head>
<body>
    <div class="overviewAndmyrooms">
        <div class="overview">
            <p>Übersicht</p>
            <label for="lastname">Name: </label>
            <br>
            <label for="firstname">Vorname: </label>
            <br>
            <label for="rank">Rang: </label>
            <br>
        </div>

        <div class="myrooms">
            <p>Reservierte Räume</p>
            <ul>
                <li>first</li>
            </ul>
        </div>
    </div>
</body>
</html>