src/WebApp/.vs/WebApp/DesignTimeBuild/.dtbcache.v2
src/WebApp/.vs/WebApp/v17/.suo
src/WebApp/WebApp/obj/Debug/net6.0/WebApp.MvcApplicationPartsAssemblyInfo.cs
src/WebApp/WebApp/obj/Debug/net6.0/WebApp.MvcApplicationPartsAssemblyInfo.cache
src/WebApp/WebApp/obj/Debug/net6.0/WebApp.csproj.FileListAbsolute.txt
src/WebApp/WebApp/obj/Debug/net6.0/WebApp.csproj.CoreCompileInputs.cache
