@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="overviewAndmyrooms">

        <div>
            <h2>Reservierte Räume</h2>
            <ul>

            </ul>
        </div>

        <table class="myrooms table table-dark table-hover table-sm">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Date</th>
                <th scope="col">Room</th>
                <th scope="col">Block</th>
            </tr>

        @{
            int i = 1;
            foreach (var item in ViewBag.Tickets)
            {
                if (item.)
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.date</td>
                    <td>@item.room</td>
                    <td>@item.Day</td>
                </tr>
                i++;
            }
        }


        </table>
        
    </div>