@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="homeSite">
        <div class="searchAndPic">
            <div class="search">
                <h1>Suche</h1>

                <label for="buildingletter">Gebäude</label>
                <input type="text" name="buildingletter" class="buildingletter" required>

                <label for="room">Raumnummer</label>
                <input type="text" name="room" class="room" required>

                <label for="seats">Anzahl Sitzplätze</label>
                <input type="text" name="seats" class="seats" required>

                <label for="whatkindofroom">Art des Raums</label>
                <input type="text" name="whatkindofroom" class="whatkindofroom">

                <button type="submit" class="searchButton">suchen</button>

            </div>
        </div>
    </div>
